[submodule "extlib"]
	path = externals/extlib
	url = ../extlib.git
[submodule "msbuild-def"]
	path = externals/msbuild-def
	url = ../msbuild-def.git
[submodule "QtTools"]
	path = externals/QtTools
	url = ../QtTools.git
[submodule "netlib"]
	path = externals/netlib
	url = ../netlib.git
[submodule "sqlite3yaw"]
	path = externals/sqlite3yaw
	url = ../sqlite3yaw.git
